:root {
  /* --color-primary: #1e1f20; */
  --color-primary: #131f2a;
  --color-secondary: #4a5ac5;
  --color-accent: #24b2e5;

  --color-shadow: #f1f1f1;
  --color-light: #ffffff;
  --color-dark: #222222;

  --color-font-light: #ffffff;
  --color-font-hover: #9b9b9b;
}
