* {
  box-sizing: border-box;
  line-height: 1;
}

html,
body {
  font-family: var(--font-IranSans);
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
