.wrapper {
  /* width: 80%; */
  margin-right: auto;
  margin-left: auto;
}

.main {
  padding: 0 13px;
  margin-top: 115px;
}

.footer {
  background-color: var(--color-primary);
  height: 73px;
}

@media (max-width: 688px) {
  .main {
    margin-top: 79px;
  }
}
