.advertise {
  margin-top: 10px;
}
.advertise .item {
  margin-bottom: 11px;
  border: 1px solid var(--color-shadow);
  border-radius: var(--dimen-radius);
  overflow: hidden;
  transition: var(--dimen-transition);
}
.advertise .item .image {
  width: 100%;
}
