.footer {
  padding: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  direction: rtl;
}

.footer-content .logo-main {
  height: 50px;
}

.footer-text {
  color: var(--color-light);
  margin-right: 15px;
  font-size: 1rem;
}
