.header-back {
  min-height: 50px;
  background-color: var(--color-primary);
  direction: rtl;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  color: var(--color-light);
}
.header .header-right {
  display: flex;
  align-items: flex-end;
}
.header .header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header .header-left .header-left-top {
  margin-bottom: 10px;
  margin-top: 10px;
}
.header .header-left .header-left-bottom {
  margin-top: 10px;
}

/*------------------------------Social Media---------------------------------*/
.socialMedia {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}
.socialMedia-items {
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.socialMedia-items-item {
  display: flex;
  align-items: center;
}
.socialMedia-items-item-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.socialMedia-items-item-lable {
  margin-right: 2px;
  color: #fff;
}
.socialMedia-items-item-lable:hover {
  color: rgb(194, 193, 193);
}

.socialMedia-items-search {
  margin-right: 5px;
  font-size: 1.7rem;
  color: var(--color-accent);
  display: flex;
  align-items: center;
  display: none;
}

.socialMedia-items-btn {
  background-color: transparent;
  height: 23px;
  width: 35px;
  border: none;
  cursor: pointer;
  margin: auto 0;
  margin-right: 0px;
  margin-left: 0px;
}

/*----------------------------Social Media End-------------------------------*/

/*------------------------------language---------------------------------*/
.language {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.language-items {
  padding-right: 7px;
  padding-left: 7px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.language-items-item {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.language-items-lable {
  color: var(--color-font-light);
  font-size: 0.9rem;
}
.language-items-lable:hover {
  color: var(--color-font-hover);
}
.language-items-border {
  border-left: 1px solid var(--color-font-hover);
  border-right: 1px solid var(--color-font-hover);
}
/*----------------------------language End-------------------------------*/

:root {
  --color-menu-button: var(--color-light);
}

.header .menu-button {
  display: none;
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    var(--color-menu-button) 0%,
    var(--color-menu-button) 20%,
    transparent 20%,
    transparent 40%,
    var(--color-menu-button) 40%,
    var(--color-menu-button) 60%,
    transparent 60%,
    transparent 80%,
    var(--color-menu-button) 80%,
    var(--color-menu-button) 100%
  );
  height: 23px;
  width: 27px;
  border: none;
  cursor: pointer;
  margin: auto 0;
}

.header .logo-main {
  height: 80px;
  margin-left: 17px;
}

@media (max-width: 992px) {
  .socialMedia .socialMedia-items .socialMedia-items-item-lable {
    display: none;
  }
  .socialMedia .socialMedia-items {
    margin-right: 2px;
    margin-left: 2px;
  }

  .language .language-items .language-items-lable {
    font-size: 0.8rem;
  }
}

@media (max-width: 688px) {
  .header {
    padding: 6px;
  }
  .header-back {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .header .menu-button {
    display: initial;
    margin-left: 20px;
    margin-right: 13px;
  }

  .header .logo-main {
    height: 55px;
    margin-left: 30px;
  }
  .header .header-left .header-left-top {
    margin-bottom: 0px;
  }
  .header .menu-button {
    height: 18px;
    width: 21px;
  }
  .socialMedia-items-search {
    display: block;
  }
}
