.modal {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.modal-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: var(--color-light);
  padding: 20px;
  border-radius: var(--dimen-radius);
}

.in-active {
  display: none;
}
