.navigation {
}

.navigation .items {
  display: flex;
  justify-content: center;
}

.navigation .items.active {
  display: flex;
}
.navigation .search {
  display: flex;
}
.navigation .search.active {
  display: flex;
}

.navigation .items .item {
  text-align: center;
}

.navigation .items .item .link {
  display: block;
  color: var(--color-light);
  font-size: 1rem;
  padding: 10px;
  border-bottom: 5px solid transparent;
  transition: var(--dimen-transition);
}

.navigation .items .item .link:hover {
  border-bottom-color: var(--color-accent);
}

.navigation .search {
  background-color: rgba(170, 53, 108, 0.17);
  border-radius: 5px;
  border: 1px solid #5858577d;
  margin-bottom: 4px;
  margin-right: 10px;
  width: 236px;
}

.navigation .search .search-input {
  background: none;
  width: calc(100% - 24px);
  padding: 5px 10px;
  border: none;
  color: white;
  transition: 0.2s;
}
.navigation .search .search-input:focus {
  padding: 5px 15px 5px 10px;
}

.navigation .search .search-btn {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-accent);
}

@media (max-width: 688px) {
  .navigation {
    position: fixed;
    background-color: var(--color-primary);
    left: 0;
    right: 0;
    top: 70px;
  }
  .navigation .items {
    flex-direction: column;
    padding: 0 24px;
    display: none;
  }
  .navigation .items .item {
    text-align: right;
    line-height: 1.2;
    border-top: 1px solid rgba(190, 190, 190, 0.08);
  }
  .navigation .search {
    display: none;
    margin: 5px 22px 7px;
    width: auto;
  }
}
